In [1]:
# import required libraries

import pandas as pd
import matplotlib.pyplot as plt

# Load the data
df = pd.read_csv('Warehouse_and_Retail_Sales.csv')

This data is obtained from data.gov database: https://catalog.data.gov/dataset/warehouse-and-retail-sales. This dataset contains a list of sales and movement data by item and department appended monthly. Update Frequency : Monthly

In [2]:
# show the first 10 rows of the dataset to inspect the data
df.head(10)

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0
5,2020,1,KYSELA PERE ET FILS LTD,100641,CORTENOVA VENETO P/GRIG - 750ML,WINE,2.76,0.0,6.0
6,2020,1,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.08,1.0,1.0
7,2020,1,BROWN-FORMAN BEVERAGES WORLDWIDE,1008,JACK DANIELS COUNTRY COCKTAIL SOUTHERN PEACH -...,BEER,0.00,0.0,2.0
8,2020,1,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,6.41,4.0,0.0
9,2020,1,INTERNATIONAL CELLARS LLC,101117,KSARA CAB - 750ML,WINE,0.33,1.0,2.0

In [3]:
# check the number of rows and columns in the dataframe
df.shape

(307645, 9)

In [4]:
# Check for missing values in the df dataframe

mv = df.isnull()
#show the missing values dataframe
mv

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
307640,False,False,False,False,False,False,False,False,False
307641,False,False,False,False,False,False,False,False,False
307642,False,False,False,False,False,False,False,False,False
307643,False,False,False,False,False,False,False,False,False
307644,False,False,False,False,False,False,False,False,False

In [5]:
# count the number of missing values in the df dataframe
print(df.isnull().sum())

YEAR                  0
MONTH                 0
SUPPLIER            167
ITEM CODE             0
ITEM DESCRIPTION      0
ITEM TYPE             1
RETAIL SALES          3
RETAIL TRANSFERS      0
WAREHOUSE SALES       0
dtype: int64

In [6]:
# drop any empty cells and return it as a new dataframe
df2 = df.dropna()

In [7]:
# check the number of rows and columns of the new dataframe
df2.shape

(307477, 9)

In [8]:
# A total of 6,168 empty rows were successfully removed 
# we now check the datatypes for each column
 
df2.dtypes

YEAR                  int64
MONTH                 int64
SUPPLIER             object
ITEM CODE            object
ITEM DESCRIPTION     object
ITEM TYPE            object
RETAIL SALES        float64
RETAIL TRANSFERS    float64
WAREHOUSE SALES     float64
dtype: object

In [9]:
# check for any missing values

missing_values = df2.isnull().any().any()

In [10]:
# show the missing values dataframe

missing_values

False

In [11]:
# False means that there is no missing value
missing_values.shape

()

In [12]:
# check for duplicates
print(df2.duplicated()) #Returns True for every row that is a duplicate, otherwise False:

0         False
1         False
2         False
3         False
4         False
          ...
307640    False
307641    False
307642    False
307643    False
307644    False
Length: 307477, dtype: bool

In [13]:
# drop any duplicated data
df2.drop_duplicates(inplace = True) # removes duplicates in the dataframe but does not return a new dataframe

C:\Users\USER\AppData\Local\Temp\ipykernel_3640\446152275.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop_duplicates(inplace = True) # removes duplicates in the dataframe but does not return a new dataframe

In [14]:
# check the shape of the new dataframe
df2.shape

(307477, 9)

In [15]:
# Compute the basic statistics: Mean, Median, Standard deviation, variance

df2.describe(include = float) # To make sure only numeric values are included

        RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES
count  307477.000000     307477.000000    307477.000000
mean        7.003644          6.938177        25.375561
std        30.387012         30.244239       249.500572
min        -6.490000        -38.490000     -4996.000000
25%         0.000000          0.000000         0.000000
50%         0.320000          0.000000         1.000000
75%         3.260000          3.000000         5.000000
max      1816.490000       1990.830000     18317.000000

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307477 entries, 0 to 307644
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307477 non-null  int64
 1   MONTH             307477 non-null  int64
 2   SUPPLIER          307477 non-null  object
 3   ITEM CODE         307477 non-null  object
 4   ITEM DESCRIPTION  307477 non-null  object
 5   ITEM TYPE         307477 non-null  object
 6   RETAIL SALES      307477 non-null  float64
 7   RETAIL TRANSFERS  307477 non-null  float64
 8   WAREHOUSE SALES   307477 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 23.5+ MB

In [17]:
# group the data using item type column and print the mean, standard deviation, minimum, maximum and 50% percentile using describe method
item_group = df2.groupby('ITEM TYPE')
print(item_group.describe(percentiles = [.50], include = float))

             RETAIL SALES                                             \
                    count       mean        std   min   50%      max
ITEM TYPE
BEER              42413.0  13.538786  57.506940 -0.13  0.00  1494.00
DUNNAGE              72.0   0.000000   0.000000  0.00  0.00     0.00
KEGS              10146.0   0.000000   0.000000  0.00  0.00     0.00
LIQUOR            64910.0  12.366221  39.344272 -2.47  2.16  1816.49
NON-ALCOHOL        1899.0  14.297162  26.933714 -0.08  5.24   329.27
REF                  79.0   8.400380   8.907923 -0.08  3.80    36.00
STR_SUPPLIES        318.0   7.027987  25.358203  0.00  0.10   368.64
WINE             187640.0   3.978355  13.772911 -6.49  0.08   813.84

             RETAIL TRANSFERS                                              \
                        count       mean        std    min   50%      max
ITEM TYPE
BEER                  42413.0  13.361799  56.757857 -23.00   0.0  1462.00
DUNNAGE                  72.0   0.000000   0.000000   0.00   0.0     0.00
KEGS                  10146.0  -0.000099   0.009928  -1.00   0.0     0.00
LIQUOR                64910.0  12.243656  39.341262 -38.49   1.0  1990.83
NON-ALCOHOL            1899.0  14.042328  27.128881  -2.00   5.0   308.92
REF                      79.0   4.923038   9.409718  -0.08   0.0    49.00
STR_SUPPLIES            318.0  32.099560  45.173980   0.00  18.0   428.00
WINE                 187640.0   3.915040  13.857081  -8.67   0.0   841.00

             WAREHOUSE SALES                                            \
                       count         mean          std      min    50%
ITEM TYPE
BEER                 42413.0   153.897072   648.608190  -229.33   10.0
DUNNAGE                 72.0 -1684.819444  1647.863921 -4996.00 -952.5
KEGS                 10146.0    11.672679    41.603370    -6.00    2.0
LIQUOR               64910.0     1.462121     9.278896   -18.50    0.0
NON-ALCOHOL           1899.0    13.770190    37.525179    -9.67    1.0
REF                     79.0     0.000000     0.000000     0.00    0.0
STR_SUPPLIES           318.0     0.000000     0.000000     0.00    0.0
WINE                187640.0     6.165982    17.820113   -19.00    2.0


                  max
ITEM TYPE
BEER          18317.0
DUNNAGE        -165.0
KEGS            604.0
LIQUOR          438.0
NON-ALCOHOL     297.0
REF               0.0
STR_SUPPLIES      0.0
WINE            662.0

In [18]:
print(df2)

        YEAR  MONTH                           SUPPLIER ITEM CODE  \
0       2020      1  REPUBLIC NATIONAL DISTRIBUTING CO    100009
1       2020      1                          PWSWN INC    100024
2       2020      1            RELIABLE CHURCHILL LLLP      1001
3       2020      1          LANTERNA DISTRIBUTORS INC    100145
4       2020      1               DIONYSOS IMPORTS INC    100293
...      ...    ...                                ...       ...
307640  2020      9                           DOPS INC     97896
307641  2020      9                 ANHEUSER BUSCH INC     97918
307642  2020      9                       HEINEKEN USA     97942
307643  2020      9            RELIABLE CHURCHILL LLLP     97950
307644  2020      9            RELIABLE CHURCHILL LLLP     97969

                                   ITEM DESCRIPTION ITEM TYPE  RETAIL SALES  \
0                               BOOTLEG RED - 750ML      WINE          0.00
1                         MOMENT DE PLAISIR - 750ML      WINE          0.00
2               S SMITH ORGANIC PEAR CIDER - 18.7OZ      BEER          0.00
3                     SCHLINK HAUS KABINETT - 750ML      WINE          0.00
4                    SANTORINI GAVALA WHITE - 750ML      WINE          0.82
...                                             ...       ...           ...
307640  ST PETERS ORGANIC ENG ALE NR 12/CS - 16.9OZ      BEER          0.00
307641               STELLA ARTOIS 2/12 NR - 11.2OZ      BEER        372.45
307642                       TECATE 4/6 LNNR - 12OZ      BEER          7.79
307643     S SMITH WINTER WELCOME NR 12/CS - 18.7OZ      BEER          0.00
307644          S SMITH WINTER WELCOME 4/6NR - 12OZ      BEER          0.00

        RETAIL TRANSFERS  WAREHOUSE SALES
0                    0.0             2.00
1                    1.0             4.00
2                    0.0             1.00
3                    0.0             1.00
4                    0.0             0.00
...                  ...              ...
307640               0.0             1.00
307641             315.0          3586.88
307642               0.0             4.00
307643               0.0             2.00
307644               0.0             1.00

[307477 rows x 9 columns]

In [19]:
# group the data using item type and year column and print the mean of retail sales, retail transfers and warehouse sales
df2.groupby(['YEAR','ITEM TYPE'])['RETAIL SALES'].mean()

YEAR  ITEM TYPE
2017  BEER            14.347818
      DUNNAGE          0.000000
      KEGS             0.000000
      LIQUOR          12.098313
      NON-ALCOHOL     15.719073
      REF              9.778621
      STR_SUPPLIES    11.012955
      WINE             4.217173
2018  BEER            10.213457
      DUNNAGE          0.000000
      KEGS             0.000000
      LIQUOR           9.649224
      NON-ALCOHOL     10.300600
      REF              8.147500
      STR_SUPPLIES     4.985714
      WINE             3.699438
2019  BEER            13.265260
      DUNNAGE          0.000000
      KEGS             0.000000
      LIQUOR          12.512349
      NON-ALCOHOL     13.632851
      REF              7.028378
      STR_SUPPLIES     6.121745
      WINE             3.857944
2020  BEER            14.548135
      DUNNAGE          0.000000
      KEGS             0.000000
      LIQUOR          14.175323
      NON-ALCOHOL     15.720776
      REF             10.964000
      STR_SUPPLIES     4.148667
      WINE             3.993773
Name: RETAIL SALES, dtype: float64

In [20]:
df2.groupby(['YEAR','ITEM TYPE'])['RETAIL TRANSFERS'].mean()

YEAR  ITEM TYPE
2017  BEER            14.170217
      DUNNAGE          0.000000
      KEGS            -0.000310
      LIQUOR          11.885298
      NON-ALCOHOL     15.183690
      REF              4.790345
      STR_SUPPLIES    35.951136
      WINE             4.127947
2018  BEER            11.106134
      DUNNAGE          0.000000
      KEGS             0.000000
      LIQUOR           9.241211
      NON-ALCOHOL     11.007867
      REF              4.125000
      STR_SUPPLIES    28.140952
      WINE             3.627246
2019  BEER            13.151675
      DUNNAGE          0.000000
      KEGS             0.000000
      LIQUOR          12.512934
      NON-ALCOHOL     13.499094
      REF              4.864865
      STR_SUPPLIES    32.798658
      WINE             3.826471
2020  BEER            13.651585
      DUNNAGE          0.000000
      KEGS             0.000000
      LIQUOR          14.058783
      NON-ALCOHOL     15.136236
      REF              7.400000
      STR_SUPPLIES    26.100000
      WINE             3.894630
Name: RETAIL TRANSFERS, dtype: float64

In [21]:
df2.groupby(['YEAR','ITEM TYPE'])['WAREHOUSE SALES'].mean()

YEAR  ITEM TYPE
2017  BEER             160.029155
      DUNNAGE        -1939.428571
      KEGS              12.089585
      LIQUOR             1.242235
      NON-ALCOHOL       15.604516
      REF                0.000000
      STR_SUPPLIES       0.000000
      WINE               5.700780
2018  BEER             123.355425
      DUNNAGE        -1725.166667
      KEGS              11.540094
      LIQUOR             1.116226
      NON-ALCOHOL       13.281400
      REF                0.000000
      STR_SUPPLIES       0.000000
      WINE               5.372595
2019  BEER             149.648087
      DUNNAGE        -1739.121212
      KEGS              11.836790
      LIQUOR             1.733850
      NON-ALCOHOL       13.406530
      REF                0.000000
      STR_SUPPLIES       0.000000
      WINE               6.328571
2020  BEER             170.504341
      DUNNAGE        -1069.750000
      KEGS              10.053600
      LIQUOR             1.344593
      NON-ALCOHOL       12.312155
      REF                0.000000
      STR_SUPPLIES       0.000000
      WINE               7.116724
Name: WAREHOUSE SALES, dtype: float64

In [ ]:
import matplotlib.pyplot as plt

plt.bar (df2['YEAR'], df2['WAREHOUSE SALES'].sum())

In [ ]:
# scatter plots

plt.scatter(df2['YEAR'],df2['RETAIL SALES'], marker = 'x', color = 'b')
plt.scatter(df2['YEAR'],df2['RETAIL TRANSFERS'], marker = 'v', color = 'r')
plt.scatter(df2['YEAR'],df2['WAREHOUSE SALES'], marker = 'o', color = 'm')
plt.title('Scatter Plot')
plt.show()

In [ ]:
# line graph

plt.plot(df2['YEAR'], df2['RETAIL SALES'].sum())